doctype html

- var github  = "https://github.com/zzzaim/webcolors"
- var twitter = "https://twitter.com/zzzaim"

mixin navItem
  li.text-lg.font-bold(class=attributes.class)
    a(href=attributes.href).text-gray-100.hover_text-purple-300
      block

mixin a
  a(href=attributes.href class=attributes.class).text-purple-700.hover_text-black
    block

html

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title webcolors | all the colors of the web
    link(rel="stylesheet" href="styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css")

  body.bg-gray-100

    header.py-20.pb-24.bg-dark.bg-purple-800.text-gray-100

      div.container.mx-auto

        section.mb-12.px-4.flex.flex-col.md_flex-row.md_items-center
          div.mb-4.md_flex-grow
            h1.font-bold.text-4xl webcolors
            p.text-xl.
              A collection of color palette packages from popular
              CSS frameworks.
          nav
            ul.flex
              +navItem(href="#about").mr-4 About
              +navItem(href=github).mr-4 GitHub
              +navItem(href=twitter).mr-4 Twitter

        section.grid.grid-cols-1.md_grid-cols-3.gap-12
          each paletteColors, palette in palettes
            div.p-4.bg-white.text-black.rounded.shadow-xl
              h2.mb-4.flex.justify-between.items-center
                span.font-bold= palette
              div.mb-4.grid.grid-cols-5
                each color in colors
                  - var key = paletteColors[color] ? palette : defaultPalette
                  span(class=`block h-12 bg-${key}-${color}` title=color).
                    &nbsp;
              p
                code > npm install @webcolors/#{palette}

    div.container.mx-auto.py-20#about

      section.mb-16.text-lg.grid.grid-cols-1.md_grid-cols-3.gap-12

        div.px-4
          h1.font-bold.text-xl.mb-2 What?
          p.
            A collection of packages containing default color palettes of
            popular CSS frameworks. All palettes are then normalized to use
            only CSS Level 2 color keywords (no custom color names).

        div.px-4
          h1.font-bold.text-xl.mb-2 Why?
          p.
            By extracting color palettes into separate packages, we can use
            any palette on it's own, without being tied to any frameworks. By
            using only CSS2 color keywords, we can interchange the palettes
            easily.

        div.px-4
          h1.font-bold.text-xl.mb-2 How?
          p.
            Once installed, the palettes are available as CSS,
            LESS, SCSS and Stylus stylesheets. Configure your stylesheet
            pre-processor or parser to enable import of NodeJS modules.

      section.grid.grid-cols-1.md_grid-cols-2.gap-12

        mixin codeSample
          div.p-4.bg-white.text-black.rounded.shadow-xl.flex.flex-col
            h2.font-bold.mb-3= attributes.title
            block

        +codeSample(title="CSS")
          pre.flex-grow
            code.language-css
              | @import "@webcolors/bootstrap";
              |
              | body {
              |   background-color: var(--aqua);
              |   color: var(--blue);
              | }

        +codeSample(title="LESS")
          pre.flex-grow
            code.language-less
              | @import "@webcolors/bulma";
              |
              | body {
              |   background-color: @fuchsia;
              |   color: @gray;
              | }

        +codeSample(title="SCSS")
          pre.flex-grow
            code.language-scss
              | @import "@webcolors/flatui"
              |
              | // Or @use with scope:
              | @use "@webcolors/material" as material;
              | @use "@webcolors/mrmrs" as mrmrs;
              |
              | body {
              |   background-color: material.$green;
              |   border: 1px solid $lime;
              |   color: flatui.$maroon;
              | }

        +codeSample(title="Stylus")
          pre.flex-grow
            code.language-stylus
              | @import "@webcolors/tailwind"
              |
              | body
              |   background-color navy
              |   color olive

    footer.py-20.mt-16.bg-light.bg-gray-400.text-gray-800

      div.container.mx-auto.px-4.text-sm.flex.flex-col.md_flex-row.justify-between.text-center.md_text-left

        div.order-last.my-2
          p.mb-2
            | Made with ♥ by
            |
            +a(href=twitter) @zzzaim
          p
            | Copyright &copy; 2020 Zaim Bakar and Contributors.
            br
            | Released under the
            |
            +a(href=`${github}/blob/master/LICENSE`) MIT license.

        ul.font-bold.flex.my-2.justify-center.md_flex-col
          li.mr-2.md_mb-2
            +a(href="#about") About
          li.mr-2.md_mb-2
            +a(href=github) GitHub
          li.mr-2.md_mb-2
            +a(href=twitter) Twitter

    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/components/prism-core.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/autoloader/prism-autoloader.min.js")
