- var github  = "https://github.com/zzzaim/webcolors"
- var twitter = "https://twitter.com/zzzaim"
- var faviconSizes = [196, 192, 180, 167, 152, 128, 32]

mixin navItem
  li.text-lg.font-bold(class=attributes.class)
    a(href=attributes.href).text-gray-100.hover_text-purple-300
      block

mixin a
  a&attributes(attributes).text-purple-700.hover_text-black
    block

mixin icon(src)
  icon(
    src=`node_modules/@fortawesome/fontawesome-free/svgs/${src}.svg`
  )&attributes(attributes)

mixin codeSample(title)
  div.p-4.m-6.bg-white.text-black.rounded.shadow-xl.flex.flex-col
    h2.font-bold.mb-3= title
    block

mixin infoBox(title)
  div.m-4
    h1.font-bold.text-xl.mb-2= title
    p
      block

mixin favicon(size)
  link(rel="icon" href=`images/favicon-${size}.png` sizes=`${size}x${size}`)

doctype html

html

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title webcolors | all the colors of the web
    link(rel="stylesheet" href="styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css")

    for size in faviconSizes
      +favicon(size)

    meta(property="og:title" content="webcolors")
    meta(property="og:type" content="website")
    meta(property="og:description" content="A collection of color palette packages from popular CSS frameworks")
    meta(property="og:image" content="images/og-square.png")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="1200")

  body.bg-gray-100

    header.py-20.bg-dark.bg-purple-800.text-gray-100#hero

      div.container.mx-auto

        section.mb-10.px-10.flex.flex-col.md_flex-row.md_items-end
          div.mb-4.md_mb-0.md_flex-grow
            h1.font-bold.text-3xl webcolors
            p.text-lg.
              A collection of color palette packages from popular
              CSS frameworks.
          nav
            ul.flex
              +navItem(href="#about").mr-4 About
              +navItem(href=github).mr-4 GitHub
              +navItem(href=twitter).mr-4 Twitter

        section.grid.grid-cols-1.md_grid-cols-3
          each info, palette in paletteInfo
            div.p-4.m-6.bg-white.text-black.rounded.shadow-xl
              h2.mb-4.flex.justify-between.items-baseline
                span.font-bold= palette
                +a(href=info.homepage).block
                  +icon("solid/external-link-alt")(width="1rem").fill-current
              div.mb-4.grid.grid-cols-5
                each color in colors
                  span(class=`block h-12 bg-${palette}-${color}` title=color).
                    &nbsp;
              p
                code > npm install @webcolors/#{palette}

    div.py-20.container.mx-auto#about

      section.px-6.mb-10.text-lg.grid.grid-cols-1.md_grid-cols-3

        +infoBox("What?").
          A collection of packages containing default color palettes of
          popular CSS frameworks. All palettes are then normalized to use
          only CSS Level 2 color keywords (no custom color names).

        +infoBox("Why?").
          By extracting color palettes into separate packages, we can use
          any palette on it's own, without being tied to any frameworks. By
          using only CSS2 color keywords, we can interchange the palettes
          easily.

        +infoBox("How?").
          Once installed, the palettes are available as CSS,
          LESS, SCSS and Stylus stylesheets. Configure your stylesheet
          pre-processor or parser to enable import of NodeJS modules.

      section.grid.grid-cols-1.md_grid-cols-2

        +codeSample("CSS")
          pre.flex-grow
            code.language-css
              | @import "@webcolors/bootstrap";
              |
              | body {
              |   background-color: var(--aqua);
              |   color: var(--blue);
              | }

        +codeSample("LESS")
          pre.flex-grow
            code.language-less
              | @import "@webcolors/bulma";
              |
              | body {
              |   background-color: @fuchsia;
              |   color: @gray;
              | }

        +codeSample("SCSS")
          pre.flex-grow
            code.language-scss
              | @import "@webcolors/flatui"
              |
              | // Or @use with scope:
              | @use "@webcolors/material" as material;
              | @use "@webcolors/mrmrs" as mrmrs;
              |
              | body {
              |   background-color: material.$green;
              |   border: 1px solid $lime;
              |   color: flatui.$maroon;
              | }

        +codeSample("Stylus")
          pre.flex-grow
            code.language-stylus
              | @import "@webcolors/tailwind"
              |
              | body
              |   background-color navy
              |   color olive

    footer.py-20.bg-light.bg-gray-400.text-gray-800

      div.px-10.container.mx-auto.text-sm.flex.flex-col.md_flex-row.justify-between.text-center.md_text-left

        div.order-last
          p.mb-4
            | Made with ♥ by
            |
            +a(href=twitter) @zzzaim
          p
            | Copyright &copy; 2020 Zaim Bakar and Contributors.
            br
            | Released under the
            |
            +a(href=`${github}/blob/master/LICENSE`) MIT license.

        ul.mb-4.font-bold.flex.justify-center.md_flex-col
          li.mr-2.md_mb-2
            +a(href="#about") About
          li.mr-2.md_mb-2
            +a(href=github) GitHub
          li.mr-2.md_mb-2
            +a(href=twitter) Twitter

    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/components/prism-core.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/autoloader/prism-autoloader.min.js")
